.titulo{
    margin-top: -5px;
    margin-bottom: 20px;
    border-bottom: #E5E5E5;
    border-style: solid;
    border-width: 0 0 1px;
}
.subtitulo{
    margin-top: 0px;
    margin-bottom: 15px;
    border-bottom: #E5E5E5;
    border-style: solid;
    border-width: 0 0 1px;
}

.main_sub_contenedor{
    background-color: #D3DADE; 
    border-color: #BCCCD6;
    color: #347899;
    height: 188px;
}

.main_sub_contenedor_largo{
    background-color: #D3DADE; 
    border-color: #BCCCD6;
    color: #347899;
}

.main_subtitulo{
    margin-top: 0px;
    margin-bottom: 5px;
}

.main_table {
    margin-bottom: 5px;
}
.main_table td{
    line-height: 15px;
}